<div class="tab-pane" id="tab_location">
    <div class="form-body">
        {{ form_row(form.location.name) }}
        {{ form_row(form.location.streetNumber) }}
        {{ form_row(form.location.street) }}
        {{ form_row(form.location.postalCode) }}
        {{ form_row(form.location.city) }}
        {{ form_row(form.location.country) }}
        {{ form_row(form.location.countryShortName) }}
        {{ form_row(form.location.continent) }}
        {{ form_row(form.location.continentShortName) }}
        {{ form_row(form.location.formattedAddress) }}
        {{ form_row(form.location.administrativeAreaLevel2) }}
        {{ form_row(form.location.administrativeAreaLevel1) }}
        {{ form_row(form.location.latitude) }}
        {{ form_row(form.location.longitude) }}
    </div>
</div>